
$base-spacing: 5px;

$base-font-size: 1rem;
$main-font-color: #262626;
$secondary-font-color: #999999;
$main-bg-color: rgb(250, 250, 250);
$primary-bg-color: #3897f0;
$primary-border-color: #dbdbdb;

$inline: inline;
$inline-block: inline-block;
$inline-flex: inline-flex;
$block: block;
$flex: flex;
$table: table;
$cell: cell;

$absolute: absolute;
$relative: relative;
$fixed: fixed;