<main class="main-content">
<section class="table-data">
    <div class="d-flex news-detail-row table-data-header fw-bold">
        <div class="d-flex news-detail-row--comments-count"><span class="">Comments</span></div>
        <div class="d-flex news-detail-row--votes"><span>Vote Count</span></div>
        <div class="d-flex news-detail-row--upvote"><span>UpVote</span></div>
        <div class="d-flex news-detail-row--details"><span>News Details</span></div>
    </div>
    <ng-container *ngFor="let news of newsList">
        <div class="row-data">
            <app-row (emittedaction) = 'updateNews($event)' [rowData] = 'news'></app-row>
        </div>
    </ng-container>
    <app-paginator class="pag-buttons" [pageNo] = 'pageNo' (updatedPageNo) = 'updateData($event)'></app-paginator>
</section>
<app-timeline-chart #timelineChart *ngIf = 'newsList.length > 0' [newsList] = 'newsList'></app-timeline-chart>
</main>