$color-primary: #ff6600;
.row-data{
    &:nth-child(odd){
        background-color: #e6e6e6;
    }
}

.table-data{
    border-bottom: 3px solid $color-primary;
    margin-bottom: 10px;
    &-header {
        background-color: $color-primary;
        color: #ffffff;
    }
}

.main-content{
    padding-bottom: 10px;
    border-bottom: 5px solid $color-primary;
}

.news-detail-row{
    height: auto;
    align-items: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px 0;
        &--comments-count, &--votes, &--upvote{
            flex: 0 0 7%;
            max-width: 7%;
            justify-content: center;
            text-align: center;
        }
        &--details{
            flex: 0 0 73%;
            max-width: 79%;
            align-items: center;
        }
}

.pag-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.c-pointer{
    cursor: pointer;
  }

.fw-bold{
    font-weight: 600;
}

.fs{
    &-l{
        font-size: 1.25rem;
    }
    &-s{
        font-size: 0.75rem;
    }
}

@media (max-width: 768px){
    .news-detail-row{
        height: 100%;
        align-items: center;
        padding: 10px 15px;
        flex: 0 0 100%;
        flex-wrap: wrap-reverse;
        max-width: 100%;
            &--comments-count, &--votes, &--upvote{
                flex: 0 0 30%;
                max-width: 30%;
                justify-content: flex-start;
                margin-top: 10px;
            }
            &--details{
                flex: 0 0 90%;
                max-width: 90%;
                flex-direction: column;
                align-items: flex-start;
            }
    }
}
