.news-detail-row{
    height: 50px;
    align-items: center;
    margin: 10px auto;
    flex: 0 0 100%;
    max-width: 100%;
    min-width: 100%;
        &--comments-count, &--votes, &--upvote{
            flex: 0 0 7%;
            max-width: 7%;
            justify-content: center;
        }
        &--details{
            flex: 0 0 73%;
            max-width: 73%;
        }
}

@media (max-width: 768px){
    .news-detail-row{
        height: 100%;
        align-items: center;
        margin: 10px 15px;
        padding: 10px 0;
        flex: 0 0 100%;
        flex-wrap: wrap;
        max-width: 100%;
        min-width: 100%;
            &--comments-count, &--votes, &--upvote{
                flex: 0 0 30%;
                max-width: 30%;
                justify-content: flex-start;
            }
            &--details{
                margin-top: 10px;
                flex: 0 0 90%;
                max-width: 90%;
            }
    }
}